:root {
    --global: #ffa31a;
    --black: #000;
    --bl-3x0e: #0e0e0e;
    --bl-3x15: #151515;
    --gray: #212121;
    --gray-alpha: #433b36e6;
    --white: #fff;
}

.btn-primary, .btn-primary > svg {
    color: var(--black) !important;
    background-color: var(--global) !important;
}

a, .btn-link, .ajax-pagination-form .ajax-pagination-btn, footer > div > nav > ul > li > a {
    color: var(--white) !important;
}

.dropdown-item:hover, .topic-tag:hover {
    color: var(--black) !important;
    background-color: var(--global) !important;
}

.Header, #repository-container-header {
    background-color: var(--bl-3x0e) !important;
    border-bottom: 1px solid var(--bl-3x15);
    z-index: 2;
}

.js-profile-editable-edit-button {
    background-color: var(--global) !important;
    color: var(--black) !important;
}

.header-search-wrapper {
    background-color: var(--gray-alpha) !important;
    color: var(--white) !important;
    border: none !important;
}

.UnderlineNav-item.selected:after, .UnderlineNav-item[aria-current]:not([aria-current=false]):after, .UnderlineNav-item[role=tab][aria-selected=true]:after {
    background-color: var(--global) !important;
}

body {
    background-color: var(--black) !important;
}

.Box {
    background-color: var(--bl-3x15) !important;
    border-color: var(--gray) !important;
}

.filter-item.selected, .filter-item[aria-selected=true], .filter-item[aria-current]:not([aria-current=false]) {
    background-color: var(--global) !important;
    color: var(--black) !important;
}