$brand-color: rgb(255, 163, 26);
$brand-color-dark: rgb(206, 132, 21);
$brand-color-darker: rgb(153, 98, 16);
$black: rgb(0, 0, 0);
$bl-3x0e: rgb(14, 14, 14);
$bl-3x15: rgb(21, 21, 21);
$gray: rgb(33, 33, 33);
$gray-alpha: rgba(67, 59, 54, 0.902);
$white: rgb(255, 255, 255);

$data-level-0: rgb(0, 0, 0);
$data-level-1: rgb(150, 78, 20);
$data-level-2: rgb(213, 114, 0);
$data-level-3: rgb(215, 139, 26);
$data-level-4: rgb(255, 163, 26);